/**
 * Main CSS for Playground
 * Based on HTML 5 Boilerplate (http://html5boilerplate.com)
 */


/* ==========================================================================
   Structural Elements
   ========================================================================== */

body {
    min-width: 400px;
}

/**
 * Header
 */
header {
    position: relative;
    border-bottom: 1px solid #0B486B;
    background: #CFF09E url(../img/header-texture.png) repeat;
    padding: 0 0 0 5%;
    line-height: 1.2;
}
header h1,
header h2 {
    margin: 0;
    padding: 0;
    width: 75%
}
header h1 {
    color: #0B486B;
    font-size: 30pt;
}
header h2 {
    color: #3B8686;
    font-size: 12pt;
    font-weight: 600;
    margin-left: 3.5em;
    padding-bottom: 5px;
}
header h1 .char1 {
    font-size: 60pt;
    float: left;
    line-height: 0.76;
}

/**
 * Navigation
 */
nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
#menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    padding: 0 10px;
    margin: 12px 15px;
    border: 1px solid #046490;
    border-radius: 5px;
    background-color: #0B486B;
    color: #A8DBA8;
    cursor: pointer;
    z-index: 1;
}
#menu-icon:focus,
#menu-icon:hover,
#menu-icon.active {
    background-color: #0e6086;
}
#menu-items {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 0 0.5em 0.5em;
    background-color: #0B486B;
    color: #A8DBA8;
    border-bottom-left-radius: 1.3em;
}
#menu-items div {
    padding: 0.5em 2em 0.5em 1em;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
}
#menu-items div:focus,
#menu-items div:hover {
    background-color: #0e6086;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

/**
 * Footer
 */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
}
footer ul {
    margin: 0 0.75em;
    padding: 0;
}
footer ul li {
    display: inline-block;
    margin: 1em 0.25em;
}
footer .icon {
    display: block;
    padding: 10px 17px;
    border-radius: 50%;
    font-size: 1.5em;
    color: #FFF;
    background-color: #000;
    opacity: 0.5;
}
footer .icon:focus,
footer .icon:hover {
    opacity: 1;
}
footer .web {
    background-color: #E245A9;
}
footer .email {
    background-color: #7A48EC;
}
footer .twitter {
    background-color: #4C9AD5;
}
footer .github {
    background-color: #37F19A;
}
footer .copyleft {
    background-color: #8AE239;
}

/**
 * Main view
 */
#view {
    position: relative;
}
#view section {
    width: 90%;
    margin: 0 5% 5em 5%;
    padding: 0;
}


/* ==========================================================================
   Plaything Stylings
   ========================================================================== */

/**
 * Circles
 */
.circle {
    position: absolute;
    border-radius: 50%;
}

/**
 * Spiral
 */
.arc {
    position: absolute;
}
.arc-top-left {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-top-left-radius: 100%;
}
.arc-top-right {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-top-right-radius: 100%;
}
.arc-bottom-right {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom-right-radius: 100%;
}
.arc-bottom-left {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom-left-radius: 100%;
}

/* ==========================================================================
   Controls
   ========================================================================== */
.controls {
    z-index: 100;
    padding: 1em;
}
.controls input[type=range] {
    vertical-align: middle;
    border: 1px solid #c3c3c3;
    margin: 0.2em 0;
}
.controls .value {
    color: #888;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.mirror {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}

/*
 * Image replacement
 */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /**
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group; /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
